<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="~/Content/css/style.css">
	<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/css/animate.css">
	<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/Content/css/magnific-popup.css">

	<script type="text/javascript" src="~/Content/js/jquery.js"></script>
	<script type="text/javascript" src="~/Content/js/functions.js"></script>
	<script type="text/javascript" src="~/Content/js/parallax.js"></script>
	<script type="text/javascript" src="~/Content/js/parallax.min.js"></script>
	<script type="text/javascript" src="~/Content/js/animate-css.js"></script>
	<script type="text/javascript" src="~/Content/js/waypoints.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.magnific-popup.min.js"></script>

	<meta charset="UTF-8">
	<title>Finance Manager</title>
</head>

<body style="margin: 0">

	<div class="loader">
		<div class="loaderInner"></div>
	</div>

	<header>
		<div class="toogleMenu">
			<div class='sandwich'>
				<div class='sw-topper'></div>
				<div class='sw-bottom'></div>
				<div class='sw-footer'></div>
			</div>
		</div>

		<div class="topMenu">
			<ul>
				<li><a class="menuItem" href="#">Начало работы</a></li>
				<li><a  class="menuItem" href="#">О проекте</a></li>
				<li><a  class="menuItem" href="#">Тарифы</a></li>
				<li><a  class="menuItem" href="#">Контакты</a></li>		
			</ul>
		</div>
	</header>
	<section class="headSection parallax-window" data-parallax="scroll" data-image-src="Content/Images/headSection.jpg">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="projNameContainer">
						<h1 class="projectName">
							Finance Manager
						</h1>	
						<p class="slogan">
							Твой личный финансовый помощник
						</p>	
					</div>
					
				</div>
			</div>
		</div>

	</section>

	<section id="about" class="aboutSection">
		<div class="sectionHeadBlock">
			<h2 >О проекте</h2>
			<h3>Для чего нужен этот проект?</h3>
			<div class="line"></div>
		</div>
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-md-push-4 animationImg">
					<div class="imgAbout">
						<a class="popup" href="~/Content/Images/imgAbout.png">
							<img src="~/Content/Images/imgAbout.png" alt="">
						</a>
					</div>
				</div>

				<div class="col-md-4 col-md-pull-4 usualText animationLeft">
					<p>
						<b>Finance Manager</b> предоставляет возможность вести свой бюджет, учитывая все источники финансов и затраты, в одном месте.
					</p>
					<p>
						Вы можете добавлять электронные счета, мобильные тарифы, наличные деньги и другие хранилища активов и в любой момент имеете возможность получить актуальную информацию о данном счете
					</p>
				</div>
				
				<div class="col-md-4 usualText animationRight">
					<p>
						Используя <b>Finance Manager</b>, вы никогда не забудете оплатить телефон или интернет, а также отдать долг или выполнить другие запланированные финансовые действия.
					</p>
					<div class="socialNetworks">
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-vk"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-github"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="tariff" class="tariffSection">
	<div class="sectionHeadBlock">
		<h2>Тарифы</h2>
		<h3>Выберите подходящий вариант тарифа</h3>
		<div class="line"></div>
		</div>
	</section>

	<section id="contacts" class="contactsSection">
	<div class="sectionHeadBlock">
		<h2>Контакты</h2>
		<h3>Вы можете оставить свое сообщение</h3>
		<div class="line"></div>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="col-md-12">
				&copy; 2015 Михаил Михалев
			</div>
		</div>
	</footer>
	
</body>
</html>