<!DOCTYPE html>
<html lang="ru" ng-app="CommonModule" ng-controller="CommonController">
<head>

    @System.Web.Optimization.Scripts.Render("~/bundles/js")
    @System.Web.Optimization.Styles.Render("~/bundles/css")

	<meta charset="UTF-8">
	<title>Finance Manager</title>
</head>

<body style="margin: 0" ng-controller="SignInController" ng-click="ClickNotSignInForm($event)">

	<div class="loader">
		<div class="loaderInner"></div>
	</div>

	<header>
		<div class="toogleMenu headCircleBtn" ng-click="mainMenuToogle('.topMenu', 'fadeInDown')">
			<div class='sandwich'>
				<div class='sw-topper'></div>
				<div class='sw-bottom'></div>
				<div class='sw-footer'></div>
			</div>
		</div>

		<div class="hiddenSignIn headCircleBtn" ng-hide="WindowSignInView" ng-click="OpenSignInForm()">
			<i class="fa fa-bank"></i>
		</div>
		<form class="signInBlock fadeInRight animated" name="SignInForm" ng-if="WindowSignInView" novalidate>
			<label for="login">Логин или e-mail:</label>
			<input id="login" class="login" ng-model="signIn.userLogin" required type="text" placeholder="E-mail или логин">
			<label for="password">Пароль:</label>
			<input id="password" class="password" ng-model="signIn.userPassword" required type="password" placeholder="Пароль">
            <div class="info animated fadeInRight" ng-style="InfoStyle" ng-show="InfoView">{{infoText}}</div>
            <button type="submit" class="signInBtn buttons" ng-click="TrySignIn(signIn, SignInForm)">Войти</button>
			<button name="registerWindow" class="registerBtn buttons" ng-click="OpenRegisterForm()">Регистрация</button>
		</form>

        <form class="registerForm" name="RegisterForm" ng-if="WindowRegView" novalidate>
            <i class="closeBtn fa fa-close" ng-click="CloseRegisterForm()"></i>
			<h1>Регистрация</h1>
			<div>
				<label for="newName">Имя: <strong>*</strong></label>
				<input ng-model="registerData.newUserName" required id="newName" type="text" placeholder="Имя"><br/>
			</div>

			<div>
				<label for="newSurname">Фамилия: <strong>*</strong></label>
				<input ng-model="registerData.newUserSurname" required id="newSurname" type="text" placeholder="Фамилия"><br/>
			</div>

			<div>
				<label for="newEmail">E-mail: <strong>*</strong></label>
				<input ng-model="registerData.newUserEmail" required id="newEmail" type="email" placeholder="E-mail"><br/>
			</div>

			<div>
				<label for="newCountry">Страна:</label>
				<input ng-model="registerData.newUserCountry" id="newCountry" type="text" placeholder="Страна"><br/>
			</div>

			<div>
				<label for="newTown">Город:</label>
				<input ng-model="registerData.newUserTown" id="newTown" type="text" placeholder="Город"><br/>
			</div>

			<div>
				<label for="newLogin">Логин: <strong>*</strong></label>
				<input ng-model="registerData.newUserLogin" required id="newLogin" type="text" placeholder="Логин"><br/>
			</div>

			<div>
				<label for="newPassword">Пароль: <strong>*</strong></label>
				<input ng-model="registerData.newUserPassword" required id="newPassword" type="password" placeholder="Пароль"><br/>
			</div>

			<div>
				<label for="newPasswordReplay">Повторите пароль: <strong>*</strong></label>
				<input ng-model="registerData.newUserPasswordReplay" required id="newPasswordReplay" type="password" placeholder="Повторите пароль"><br/>
			</div>

            <div>
				<label for="newCurrency">Основная валюта:</label>
				<input ng-model="registerData.newUserCurrency" id="newCurrency" required type="text" placeholder="Основная валюта"><br/>
			</div>

            <p>* помечены обязательные для заполнения поля</p>
			<button type="submit" ng-click="TryRegister(registerData, RegisterForm)" class="registerBtn buttons">Зарегистрироваться</button>
		</form>
		
	</header>

	<div class="topMenu">
			<ul>
				<li><a class="menuItem" href="#headId">Начало работы</a></li>
				<li><a  class="menuItem" href="#aboutId">О проекте</a></li>
				<li><a  class="menuItem" href="#tariffId">Тарифы</a></li>
				<li><a  class="menuItem" href="#contactsId">Контакты</a></li>		
			</ul>
		</div>

	<section id="headId" class="headSection parallax-window" data-parallax="scroll" data-image-src="Content/Images/headSection.jpg">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="projNameContainer">
						<h1 class="projectName">
							Finance Manager
						</h1>	
						<p class="slogan">
							Твой личный финансовый помощник
						</p>	
					</div>
					
				</div>
			</div>
		</div>

	</section>

	<section id="aboutId" class="aboutSection">
		<div class="sectionHeadBlock">
			<h2 >О проекте</h2>
			<h3>Для чего нужен этот проект?</h3>
			<div class="line"></div>
		</div>
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-md-push-4 animationImg">
					<div class="imgAbout">
						<a href="~/Content/Images/imgAbout.png">
							<img src="~/Content/Images/imgAbout.png" alt="">
						</a>
					</div>
				</div>

				<div class="col-md-4 col-md-pull-4 usualText animationLeft">
					<p>
						<b>Finance Manager</b> предоставляет возможность вести свой бюджет, учитывая все источники финансов и затраты, в одном месте.
					</p>
					<p>
						Вы можете добавлять электронные счета, мобильные тарифы, наличные деньги и другие хранилища активов и в любой момент имеете возможность получить актуальную информацию о данном счете
					</p>
				</div>
				
				<div class="col-md-4 usualText animationRight">
					<p>
						Используя <b>Finance Manager</b>, вы никогда не забудете оплатить телефон или интернет, а также отдать долг или выполнить другие запланированные финансовые действия.
					</p>
					<div class="socialNetworks">
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-vk"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-github"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="tariffId" class="tariffSection">
	<div class="sectionHeadBlock">
		<h2>Тарифы</h2>
		<h3>Выберите подходящий вариант тарифа</h3>
		<div class="line"></div>
		</div>
	</section>

	<section id="contactsId" class="contactsSection">
	<div class="sectionHeadBlock">
		<h2>Контакты</h2>
		<h3>Вы можете оставить свое сообщение</h3>
		<div class="line"></div>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="col-md-12">
				&copy; 2015 Михаил Михалев
			</div>
		</div>
	</footer>
	
</body>
</html>