<!DOCTYPE html>
<html lang="ru" ng-app="PersonalModule" ng-controller="PersonalPageController">
<head>
     
    @System.Web.Optimization.Scripts.Render("~/bundles/js")
    @System.Web.Optimization.Styles.Render("~/bundles/css")
<link rel="stylesheet" href="~/Content/css/personalPageStyles.css">

	<meta charset="UTF-8">
	<title>Finance Manager</title>
</head>

<body style="margin: 0">
	<header>
		<div class="menu">
			<div class="menuItem" ng-click="goToStart()">
				<i class="fa fa-home"></i>
			</div>
			<div class="menuItem">
				<i class="fa fa-pie-chart"></i>
			</div>
			<div class="menuItem" ng-click="goToOperations()">
				<i class="fa fa-tasks"></i>
			</div>
		</div>
		
		<div class="profile">
			<a href="#" class="profileImgContainer">
				<img ng-src={{profileImgSrc}} alt="" class="profileImg">
			</a>
			<div class="profileName">{{name + " " + surname}}</div>
			<div class="profileBalance">
				<i class="fa fa-bank"></i>
				<div class="balanceView">Баланс: {{balance}} руб.</div>
			</div>
			<div class="logout"  ng-click="logout()">
				<i class="fa fa-sign-out"></i>
				<a href="#">Выйти</a>
			</div>
			
		</div>	
						
	</header>
    <section class="headSection sectionTop">   	
        <ng-view></ng-view>
    </section>
</body>

</html>
