<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-push-3">
			<div class="mainCatalogsBlock">
				<div class="catalogs" ng-init='squareElemLoad(".catalogs")'>
					<span class="labelCatalog">Доходы</span>
					<img class="catalogInnerImg" src="/Content/Images/imgAbout.png" alt="">
				</div>
				<div class="catalogs">
					<span class="labelCatalog">Расходы</span>
					<img class="catalogInnerImg" src="/Content/Images/costs.jpg" alt="">
				</div>
				<div class="catalogs">
					<span class="labelCatalog">Счета</span>
					<img class="catalogInnerImg" src="/Content/Images/accounts.jpg" alt="">
				</div>
				<div class="catalogs">
					<span class="labelCatalog">Планы</span>
					<img class="catalogInnerImg" src="/Content/Images/plains.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>