<div class="container">
	<div class="row">
		<div class="col-md-12">
		 <!-- col-md-push-2 -->
			<div class="accountsBlock">
				<!-- <h1>Мои счета</h1> -->
				<div class="accountsContainer">
					<!-- <div class="accountItem" ng-repeat="current in accounts">
						<div class="accountItemImg">
							<img ng-src={{current.img}} alt="">
						</div>
						<div class="accountItemName">{{current.name}}</div>
						<div class="accountItemAmount">{{current.amount}}</div>
					</div>	 -->

					<div class="accountItem" ng-repeat="current in accounts" ng-init='squareElemByHeight(".accountItem")'>
						<span class="accountItemName">{{current.name}}</span></br>
						<img class="accountItemImg" ng-src={{current.img}} alt="">
						<span class="accountItemAmount">{{current.amount}}</span>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>