<form class="registerForm" name="RegisterForm" novalidate>
            <i class="closeBtn fa fa-close" ng-click="CloseRegisterForm()" enctype="multipart/form-data"></i>
			<h1>Регистрация</h1>
			<div>
				<label for="newName">Имя: <strong>*</strong></label>
				<input class="regFormField" ng-model="registerData.newUserName" required id="newName" type="text" placeholder="Имя"><br/>
			</div>

			<div>
				<label for="newSurname">Фамилия: <strong>*</strong></label>
				<input class="regFormField" ng-model="registerData.newUserSurname" required id="newSurname" type="text" placeholder="Фамилия"><br/>
			</div>

			<div>
				<label for="newEmail">E-mail: <strong>*</strong></label>
				<input class="regFormField" ng-model="registerData.newUserEmail" required id="newEmail" type="email" placeholder="E-mail"><br/>
			</div>

			<div>
				<label for="newCountry">Страна:</label>
				<input class="regFormField" ng-model="registerData.newUserCountry" id="newCountry" type="text" placeholder="Страна"><br/>
			</div>

			<div>
				<label for="newTown">Город:</label>
				<input class="regFormField" ng-model="registerData.newUserTown" id="newTown" type="text" placeholder="Город"><br/>
			</div>

			<div>
				<label for="newLogin">Логин: <strong>*</strong></label>
				<input class="regFormField" ng-model="registerData.newUserLogin" required id="newLogin" type="text" placeholder="Логин"><br/>
			</div>

			<div>
				<label for="newPassword">Пароль: <strong>*</strong></label>
				<input class="regFormField" ng-model="registerData.newUserPassword" required id="newPassword" type="password" placeholder="Пароль"><br/>
			</div>

			<div>
				<label for="newPasswordReplay">Повторите пароль: <strong>*</strong></label>
				<input class="regFormField" ng-model="registerData.newUserPasswordReplay" required id="newPasswordReplay" type="password" placeholder="Повторите пароль"><br/>
			</div>

            <div>
				<label for="newCurrency">Основная валюта:</label>
                <select class="regFormField" ng-model="registerData.newUserCurrency" id="newCurrency" ng-options="(c.name + ' (' + c.abbreviation+ ')') for c in currencies" required>
                	 <!-- <option value="" ng-if="false"></option> -->
                </select><br/>
				<!--<input ng-model="registerData.newUserCurrency" id="newCurrency" required type="text" placeholder="Основная валюта"><br/>-->


			</div>

			<div>
				<label for="btnLoadImg">Ваше фото:</label>
				<button id="btnLoadImg" class="regFormField" onclick="$('#fileLoad').click()">Обзор</button>
				<input fileread="registerData.newUserPhoto" type="file" id="fileLoad" accept="image/*" ng-show=false>
				<!-- <input id="send" type="submit" value="Send" /> -->
			</div>

            <p>* помечены обязательные для заполнения поля</p>
			<button type="submit" ng-click="TryRegister(registerData, RegisterForm)" class="registerBtn buttons">Зарегистрироваться</button>
		</form>