<form class="signInBlock fadeInRight animated" name="SignInForm" ng-if="WindowSignInView" novalidate>
			<label for="login">Логин или e-mail:</label>
			<input id="login" class="login" ng-model="signIn.userLogin" required type="text" placeholder="E-mail или логин">
			<label for="password">Пароль:</label>
			<input id="password" class="password" ng-model="signIn.userPassword" required type="password" placeholder="Пароль">
            <div class="info animated fadeInRight" ng-style="InfoStyle" ng-show="InfoView">{{infoText}}</div>
            <button type="submit" class="signInBtn buttons" ng-click="TrySignIn(signIn, SignInForm)">Войти</button>
			<button name="registerWindow" class="registerBtn buttons" ng-click="OpenRegisterForm()">Регистрация</button>
		</form>