/* Прелоадер до загрузки страницы */
.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loaderInner {
    background-image: url("../Images/loader.gif");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}
/*...............*/

/* Основные элементы */
header{
	position: fixed;
	height: 100px;
	margin-top: 20px;
	z-index: 1000;
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
}

section{
	position: relative;
	padding: 70px 0;
    overflow: hidden;
}

section h2{
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	letter-spacing: 3px;
}

section h3{
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0 0 30px 0 ;
	letter-spacing: 3px
}

.line{
	height: 1px;
	width: 150px;
	background-color: #000;
	margin: 0 auto;
}

.sectionHeadBlock{
	margin-bottom: 50px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
}

.aboutSection{
	background-color: #fff;
}

.tariffSection{
	background-color: #EFEFEF;
}

.contactsSection{
	background-color: #b0b7c6;
}

footer{
	padding: 25px 0;
	font-size: 14px;
	color: #fff;
	background-color: #444444;
}
/*...............*/

/* 1 секция */
.projNameContainer{
	width: 60%;
	padding: 10px;
	margin: 20% 20% 0 20%;
}

.projectName{
background-color: rgba(0,0,0,.3);
	border: 3px solid white;
	box-shadow: rgba(0, 0, 0, .3) 0 0 0 1000px;

	font-size: 3.5em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 8px;
	margin: 0;
	width: 100%;

	animation-delay: .7s;
	-webkit-animation-delay: .7s;
}

.slogan{
	width: 100%;
	margin: 10px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	letter-spacing: .7em;
	text-transform: uppercase;
	position: relative;

	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.headSection{
	min-height: 600px;
	padding-top: 20px;	
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
}
/*...............*/

/* Header */
.toogleMenu:hover .sandwich>div{
	background: #f00;
}

/* Эффект кнопки меню */
.sandwich {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 30% auto 30% auto;
}
.sw-topper {
  position: relative;
  top: 0;
  width: 100%;
  height: 10%;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; 
}
.sw-bottom {
  position: relative;
  width: 100%;
  height: 10%;
  top: 20%;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  /*transition-delay: 0.2s, 0s;*/
}
.sw-footer {
  position: relative;
  width: 100%;
  height: 10%;
  top: 40%;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
  top: 35%;
  transform: rotate(140deg);
}
.sandwich.active .sw-bottom {
  top: 25%;
  transform: rotate(-140deg);
}
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
}
/*...............*/

.topMenu{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 9;
	right:0;
	top: 0;
	display: none;
}

.topMenu ul{
	list-style-type: none;
	margin: 20% 0 0 0;
	padding: 0;
}

.topMenu li{
	margin-top: 3%;
	text-align: center;
}

.menuItem{
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 3px;
}

.topMenu a:hover{
	z-index: 100;
	color: #f00;
	text-decoration: none;
}

/* Кнопка меню */
.headCircleBtn{
	width: 70px;
	height: 70px;
	position: fixed;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	background-color: black;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	z-index: 10;
	top: 20px;
}

.toogleMenu{
	/*margin-left: 47%;*/
	left: 20px;
}
/*...............*/

/* Кнопка SignIn */
.hiddenSignIn{
	right: 20px;
	color: white;
}

.hiddenSignIn i{
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}

.hiddenSignIn:hover{
	color: red;
}

.signInBlock:hover .hiddenSignIn{
	color: white;
}

.signInBlock{
	/*display: none;*/
	cursor: default;
	padding-top: 20px;
	position: absolute;
	/*height: 250px;*/
	width: 350px;
	right: -20px;
	top: 0;
	background-color: rgba(0, 0, 0, .8);
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
    padding: 1% 1%;

}

.signInBlock label,
.signInBlock input{
	width: 50%;
	margin: 0 0 0 25%;
}

.signInBlock label{
	text-align: center;
	color: white;
}

.signInBlock input{
	color: black;
	margin-bottom: 10px;
    border-radius: 5px;
}

.info
{
    width: 98%;
    background-color: blue;
    color: black;
    letter-spacing: 2px;
    padding: 15px 5px;
    text-align: center;
}

.buttons{
	/*float: right;*/
	height: 15%;
	/*margin: 20px 10px;*/
	bottom: 0;
	position: relative;
	border: none;
	border-radius: 5px;
	color: white;
	letter-spacing: 2px;
	padding: 0;
    margin-top: 5%;
    display: block;
    height: 35px;
}

.signInBtn{
	width:  30%;
	background-color: #006BDB;
	/*margin-right: 0px;*/
	left: 35%;
	/*bottom: 30%;*/
    background-image:  linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
}

.registerBtn{
	width:  40%;
	background-color: #008800;
	left: 30%;
	/*bottom: 10%;*/
    background-image:  linear-gradient(top, #008800, #005500);
    background-image: -webkit-linear-gradient(top, #008800, #005500);
    background-image: -o-linear-gradient(top, #008800, #005500);
    background-image: -moz-linear-gradient(top, #008800, #005500);
}

.signInBtn:hover{
    background-image:  linear-gradient(top, #00aacc, #0055cc);
    background-image: -webkit-linear-gradient(top, #00aacc, #0055cc);
    background-image: -o-linear-gradient(top, #00aacc, #0055cc);
    background-image: -moz-linear-gradient(top, #00aacc, #0055cc);
}

.registerBtn:hover{
    background-image:  linear-gradient(top, #00aa00, #005500);
    background-image: -webkit-linear-gradient(top, #00aa00, #005500);
    background-image: -o-linear-gradient(top, #00aa00, #005500);
    background-image: -moz-linear-gradient(top, #00aa00, #005500);
}

.errMessage
{
    background-color: red;
}
/*...........*/

.registerForm{
	box-shadow: rgba(0, 0, 0, .6) 0 0 0 1000px;
	width: 40%;
	padding: 20px;
	margin: 0 auto;
	/*display: none;*/
	background-color: white;
	position: relative;
    border-radius: 10px;
}

.registerForm h1{
	margin: 0;
}

.regFormField{
	width: 40%;
}

.registerForm label{
	width: 40%;
    text-align: right;
    margin: auto 5%;
}

.registerForm div{
	width: 100%;
	padding: 0 15px;
}

.registerForm div:nth-child(2n){
	background-color: #ccc;
}

.registerForm div:nth-child(2n+1){
	background-color: #fff;
}

 label+.regFormField{
	display: inline-block;
	margin: 10px 0;
}

.closeBtn
{
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    position: absolute;
    font-size: 20px!important;
}

.closeBtn:hover
{
    color: red;
    cursor: pointer;
}

.registerForm p
{
    font-size: 12px;
    color: red;
}

.registerForm strong
{
    font-size: 18px;
    color: red;
}

/*...........*/

/* 2 секция */
.imgAbout{
	text-align: center;
	overflow: hidden;
}

.imgAbout img{
	display: inline-block;
	max-width: 100%;
}

.usualText {
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 1px;
}

.usualText p:nth-child(2n+1){
	/*color: #24801A;*/
    /*color: rgb(208, 78, 11);*/
	margin-bottom: 20px;
}

.usualText ul,
.usualText li {
	list-style-type: none;
	margin: 0 0 10px 0;
	padding: 0;
}

.usualText a{
	text-decoration: none;
}

.socialNetworks li{
	display: inline-block;
	font-size: 26px;
	padding: 0 5px;
}

.socialNetworks a:hover{
	color: #f00;
}
/*...........*/

.previewImgContainer{
	position: fixed;
	width: 150px!important;
	height: 150px!important;
	left: 200px;
	top: 10%;
	overflow: hidden;
}

.previewImgContainer img{
	/*max-width: 100%;
	max-height: 100%;*/
}

.tariffs{
	padding: 10px;
	/*background-color: rgba(0, 0, 0, .7);*/

	/*background-image:         linear-gradient(top, rgba(152, 176, 181, 0.2), rgba(0, 0, 0, 0.4));
    background-image: -webkit-linear-gradient(top, rgba(152, 176, 181, 0.2), rgba(0, 0, 0, 0.4));
    background-image:      -o-linear-gradient(top, rgba(152, 176, 181, 0.2), rgba(0, 0, 0, 0.4));
    background-image:    -moz-linear-gradient(top, rgba(152, 176, 181, 0.2), rgba(0, 0, 0, 0.4));*/

     box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
	/*background-color: red;*/
}

/*.vipTariff{
	background-image: -webkit-linear-gradient(top, rgba(210, 207, 9, 0.611765), rgba(221, 204, 204, 0.4));
	background-image:         linear-gradient(top, rgba(210, 207, 9, 0.611765), rgba(221, 204, 204, 0.4));
    background-image:      -o-linear-gradient(top, rgba(210, 207, 9, 0.611765), rgba(221, 204, 204, 0.4));
    background-image:    -moz-linear-gradient(top, rgba(210, 207, 9, 0.611765), rgba(221, 204, 204, 0.4));
}

.standartTariff{
	background-image: -webkit-linear-gradient(top, rgba(155, 155, 155, 0.611765), rgba(221, 204, 204, 0.4));
	background-image:         linear-gradient(top, rgba(155, 155, 155, 0.611765), rgba(221, 204, 204, 0.4));
    background-image:      -o-linear-gradient(top, rgba(155, 155, 155, 0.611765), rgba(221, 204, 204, 0.4));
    background-image:    -moz-linear-gradient(top, rgba(155, 155, 155, 0.611765), rgba(221, 204, 204, 0.4));

}

.cheepTariff{
	background-image: -webkit-linear-gradient(top, rgba(153, 100, 4, 0.611765), rgba(221, 204, 204, 0.4));
	background-image:         linear-gradient(top, rgba(153, 100, 4, 0.611765), rgba(221, 204, 204, 0.4));
    background-image:      -o-linear-gradient(top, rgba(153, 100, 4, 0.611765), rgba(221, 204, 204, 0.4));
    background-image:    -moz-linear-gradient(top, rgba(153, 100, 4, 0.611765), rgba(221, 204, 204, 0.4));
}*/

.tariffs h1{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22pt;
	font-family: Times, 'New Century Schoolbook', serif;
	font-weight: 600;

	/*color: rgb(107, 20, 20);*/
    /*color: rgb(208, 78, 11);*/
}

.tariffInfo{
	width: 100%;
	padding: 10px;
	min-height: 250px;
	letter-spacing: 1px;
	/*line-height: 42px;*/

	/*height: 100px;*/
	background-color: rgba(205, 205, 205, 0.8);
}

.tariffInfo li{
	margin: 15px 0;
}

.tariffPrice{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	font-size: 18pt;
	font-weight: bold;

	/*background-color: rgb(107, 20, 20);*/
    /*background-color: rgb(208, 78, 11);*/
	color: white;
}

.contacts
{
    background-color: rgba(249, 249, 249, 0.28);
}

.contactsBlock
{
    padding: 20px;
    /*background-color: white;*/
}

.contactContainer
{
    padding: 5px 40px;
}

.contactContainer h3
{
    text-align: left;
    margin: 0;
}

.contactContainer p
{
    letter-spacing: 2px;
    /*color: rgb(208, 78, 11);*/
}

.contactContainer i
{
    /*color: rgb(208, 78, 11);*/
    font-size: 40px;
    margin-bottom: 10px;
}

.text-danger
{
    color: red!important;
    font-size: 14px!important;
}

.contactForm input,
.contactForm textarea
{
   display: block;
   width: 100%;
   margin-top: 10px;
   line-height: 40px;
   text-indent: 15px;
   letter-spacing: 2px;
}


.contactForm button
{
    /*background-color: red;*/
    display: block;
    margin-top: 30px;
    border:none;
    color: white;
    letter-spacing: 2px;
    line-height: 40px;
    padding: 0 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.form-group
{
    display: block;
    margin-bottom: 25px;
    
}

.form-group span
{
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.themeTextColor
{
    color: rgb(208, 78, 11);
}

.themeBackColor
{
    background-color: rgb(208, 78, 11);
}